<a href="https://colab.research.google.com/github/MAHMOUD125478/iti/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ages = [18, 21, 20, 19, 22, 23, 20, 21, 22, 19]

manual_mean = sum(ages) / len(ages)

import numpy as np
numpy_mean = np.mean(ages)

manual_mean, numpy_mean

(20.5, np.float64(20.5))

In [2]:
import random
import numpy as np

data = [random.randint(10, 50) for _ in range(15)]

sorted_data = sorted(data)
n = len(sorted_data)
if n % 2 == 1:
    manual_median = sorted_data[n // 2]
else:
    manual_median = (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2

numpy_median = np.median(sorted_data)

data, manual_median, numpy_median

([18, 48, 12, 45, 28, 28, 48, 21, 12, 43, 46, 10, 38, 18, 36],
 28,
 np.float64(28.0))

In [3]:
manual_min = min(data)
manual_max = max(data)
manual_range = manual_max - manual_min

import numpy as np
numpy_min = np.min(data)
numpy_max = np.max(data)
numpy_range = numpy_max - numpy_min

manual_min, manual_max, manual_range, numpy_min, numpy_max, numpy_range

(10, 48, 38, np.int64(10), np.int64(48), np.int64(38))

In [4]:
data = [5, 7, 3, 7, 9, 10, 15, 7]

mean_value = sum(data) / len(data)
manual_variance = sum((x - mean_value) ** 2 for x in data) / len(data)
manual_std = manual_variance ** 0.5

import numpy as np
numpy_variance = np.var(data)
numpy_std = np.std(data)

manual_variance, manual_std, numpy_variance, numpy_std

(11.359375,
 3.370367190678191,
 np.float64(11.359375),
 np.float64(3.370367190678191))

In [5]:
import numpy as np

data = [7, 15, 36, 39, 40, 41, 42, 43, 47, 49, 50]

q1 = np.percentile(data, 25)
q2 = np.percentile(data, 50)
q3 = np.percentile(data, 75)

iqr = q3 - q1

q1, q2, q3, iqr

(np.float64(37.5), np.float64(41.0), np.float64(45.0), np.float64(7.5))

In [6]:
def z_score_normalization(data):
    mean_value = sum(data) / len(data)
    std_value = (sum((x - mean_value) ** 2 for x in data) / len(data)) ** 0.5
    return [(x - mean_value) / std_value for x in data]

data = [10, 20, 30, 40, 50]
z_scores = z_score_normalization(data)
z_scores

[-1.414213562373095,
 -0.7071067811865475,
 0.0,
 0.7071067811865475,
 1.414213562373095]

In [7]:
import random
import numpy as np

data = [random.randint(1, 100) for _ in range(20)]

manual_moving_avg = [sum(data[i:i+3]) / 3 for i in range(len(data) - 2)]

numpy_moving_avg = np.convolve(data, np.ones(3)/3, mode='valid')

data, manual_moving_avg, numpy_moving_avg

([74,
  69,
  7,
  61,
  53,
  72,
  85,
  41,
  82,
  36,
  49,
  68,
  79,
  16,
  79,
  10,
  65,
  96,
  52,
  75],
 [50.0,
  45.666666666666664,
  40.333333333333336,
  62.0,
  70.0,
  66.0,
  69.33333333333333,
  53.0,
  55.666666666666664,
  51.0,
  65.33333333333333,
  54.333333333333336,
  58.0,
  35.0,
  51.333333333333336,
  57.0,
  71.0,
  74.33333333333333],
 array([50.        , 45.66666667, 40.33333333, 62.        , 70.        ,
        66.        , 69.33333333, 53.        , 55.66666667, 51.        ,
        65.33333333, 54.33333333, 58.        , 35.        , 51.33333333,
        57.        , 71.        , 74.33333333]))

In [8]:
import random
import numpy as np

data = [random.randint(1, 50) for _ in range(25)]
data.extend([300, 400])

q1 = np.percentile(data, 25)
q3 = np.percentile(data, 75)
iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

outliers = [x for x in data if x < lower_bound or x > upper_bound]

data, outliers

([7,
  7,
  22,
  29,
  16,
  42,
  43,
  36,
  19,
  43,
  36,
  41,
  30,
  1,
  10,
  9,
  47,
  40,
  32,
  14,
  13,
  41,
  32,
  46,
  5,
  300,
  400],
 [300, 400])